---
layout: default
---
{% if page._styles %}
  <!-- Page/Post style -->
  <style type="text/css">
    {{ page._styles }}
  </style>
{% endif %}

<div class="card mx-4 my-4">
  <header class="card-header">
    <h3 class="card-title">{{ page.title }}</h3>
  </header>
  <div class="card-body">
    <article>
      {{ content }}
    </article>
  </div>
</div>