<footer class="mt-5" role="contentinfo">
  <div class="bd-footer bg-body-tertiary pt-3 pb-3 px-5">
    <div class="row justify-content-center">
    <div class="col col-sm-1 col-lg-3 mb-2 flex-fill">
      <h5 class="fw-bold"><a class="navbar-brand" href="{{ site.url }}"><img src="assets/images/steamdeck.svg" style="width:1.5em; height:1.5em;"/>Unofficial Compendium</a></h5>
      <div class="text-wrap" style="font-size:xx-small; max-width: 45em;">© 2025 {{ site.maintainer }}. All rights reserved. All trademarks property of their respective owners in the U.S. and other countries. This project is not affiliated with Valve Corporation or Steam Deck Homebrew. Steam, the Steam logo, Steam Deck, and the Steam Deck logo are trademarks and/or registered trademarks of Valve Corporation in the U.S. and/or other countries.</div>
    </div>
    <div class="col col-sm-6 col-lg-3 mb-2 flex-fill">
      <h5 class="fw-bold">Links</h5>
      <ul class="list-unstyled">
        <li><a class="text-decoration-none" href="{{ site.project_url }}">Github</a></li>
        <li><a class="text-decoration-none" href="{{ site.project_url }}/issues">Issues</a></li>
      </ul>
    </div>
    <div class="col col-sm-1 col-lg-3 mb-2 flex-fill">
      <h5 class="fw-bold">Community</h5>
      <ul class="list-unstyled">
        <li><a class="text-decoration-none" href="https://decky.xyz/">Decky-Loader</a></li>
        <li><a class="text-decoration-none" href="https://plugins.deckbrew.xyz/">Deckbrew</a></li>
        <li><a class="text-decoration-none" href="https://deckbrew.xyz/discord">Discord</a></li>
      </ul>
    </div></div>
  </div>
</footer>